* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
}

.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topo {
  width: 750px;
  height: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.topo > img {
  width: 400px;
 
}

.escolhaPalavra{
  width: 140px;
  height: 40px;

  border-radius: 10px;
  border: none;
  background-color: #27ae60;
  color: white;
  font-weight: bold;
  font-size: 14px;
}

.teclado {
  width: 600px;
  height: 200px;
  margin-top: 40px;
  margin-bottom: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letras {
  width: 50px;
  height: 50px;
  background-color: #9faab5;
  color: #79818c;
  font-weight: bold;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.chute {
width: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chute > p {
  font-size: 20px;
  font-weight: 300;

}

.chute > input {
  width: 250px;
  height: 30px;
  border-color: #cfcfcf;
  border-radius: 5px;
  background-color: #FAFAFA;
}

.chutar-desabilitado {
  height: 30px;
  background-color: #9faab5;
  font-weight: bold;
  color: #5a80a0;
  border-color: #5a80a0;
  border-radius: 5px;
}

/* style do jogo iniciado */

.chutar-habilitado {
  background-color: #e1ecf4;
}

.red{
  color: red;
}

.palavras {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  justify-content: space-between;
}

.palavras > p{
  
  font-size: 30px;
  font-weight: 400;
}

.teclasHabilitadas {
  background-color: #e1ecf4;
  color: #39739d;
  border: solid 1px #39739d;
}

/* style fim do jogo */

.clicado {
  background-color: #9faab5;
  border: none;
}

.green {
  color: #27ae60;
 
}

@media (max-width: 935px) {
  .conteiner{
    width: 100%;
  }

  .topo {
    width: 100%;
    height: 100%;
 
  } 

  .topo > img {
    width: 200px;
   
  }
  
 
  .teclado {
    width: 100%;
    height: 100%;
  }
  
  .letras {
    width: 27px;
    height: 27px;
   
  } 
  
  .chute {
  width: 100%;
    
  }

}